$black: #1c1c1c;
$blue: #435993;
$blue-light: #e9efff;
$gray: #c8c8c8;
$gray-border: #d9d9d9;

$roboto-thin-font: 'Roboto-thin', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
$roboto-medium-font: 'Roboto-medium', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
$roboto-regular-font: 'Roboto-regular', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
$roboto-light-font: 'Roboto-light', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;


$tablets: 768px;
$phones: 480px;
 